.DS_Store
.env
.env.test
.eslintcache
.idea
.vscode
build
coverage
es
lib
dist
lerna-debug.log
node_modules
npm-debug.log
package-lock.json
packages/local-*
yarn-error.log
yerna.log
tsconfig.tsbuildinfo
package.json.lerna_backup
.graphqlconfig
schema.graphql
